@font-face {
    font-family: "IRANSans";
    src: url("../../assets/Fonts/ttf/IRANSansWeb.ttf") format("ttf")
}
@font-face {
    font-family: "IRANSans";
    src: url("../../assets/Fonts/ttf/IRANSansWeb_Bold.ttf") format("ttf")
}
@font-face {
    font-family: "IRANSans";
    src: url("../../assets/Fonts/ttf/IRANSansWeb_Black.ttf") format("ttf")
}
@font-face {
    font-family: "IRANSans";
    src: url("../../assets/Fonts/ttf/IRANSansWeb_Light.ttf") format("ttf")
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:IRANSans;
}

